@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');

body {
    width: 50%;
    margin-left: 25%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
    font-size: 1.2em;
    background-color: #333333;
    color: #F5E9E2;
    line-height: 1.4;
}

h1, h2, h3, h4 {
    font-family: 'Source Serif Pro', sans-serif;
    border-bottom: solid 2px gray;
    font-weight: 300;
    color: #ABABAB;
}

a {
    color: #333333;
    text-decoration: none;
    background-color: #6290C3;
    padding-left: 2px;
    padding-right: 2px;
}

table, th, td {
    border: 1px solid;
    margin-left: auto;  
    margin-right: auto;
    text-align: center !important;
}

p {
    white-space: pre-line;
}

footer {
    clear: both;
    padding: 0;
    text-align: right;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 5px;
    width: 50%;
}
